@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Шапка сайта */

body {
    font-family: Gill Sans, sans-serif;
    background-color: rgb(216, 228, 228);
}

.header {
    background-color: black;
    color: white;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-info{
    display: flex;
}

.avatar-reper {
    position: relative;
    margin: 30px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.online-dot {
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(127, 252, 3);
    z-index: 10;
}


.nav a{
    color: white;
    margin: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 6px;
    transition: 1s;
}

.nav a:hover{
    color: rgb(19, 14, 14);
    margin: 5px 10px;
    text-decoration: none;
    background-color: white;
    transition: 1s;
   
}


img {
    height: 250px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* контент */

.block1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 40px 20px;
     
}

.img-block1 {
   margin-right: 30px;
}

.title-block1 {
   font-style: italic;
   
}

.text-block1 {
    margin-top: 40px;
    font-size: 20px;
}

.right-block1 {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.left-block1 {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


/* фото */

.block2 {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    flex-direction: row;
}

.cart {
    width: 270px;
    background-color: aliceblue;
    border: 2px solid #000;
    border-radius: 10px;
    transition: 1s;
    padding: 10px;
  
}

.cart img {
    width: 250px;

} 

.cart:hover{
    -webkit-box-shadow: 0px 18px 5px -5px rgba(0, 4, 7, 0.6);
    -moz-box-shadow: 0px 18px 5px -5px rgba(0, 4, 7, 0.6);
    box-shadow: 0px 18px 5px -5px rgba(0, 4, 7, 0.6);
    transition: 0.5s;
    transform: scale(1.02);

 
}

.cart button {
    width: 100%;
    height: 30px;
    background-color: #000;
    color: white;
    font-size: 14px;
    margin-top: 15px;
    transition: 1s;
} 

.cart-text {
    font-size: 20px;
    font-family: Gill Sans, sans-serif;
    margin: 10px;
    text-align: center;
}

.cart button:hover {
    background-color: #282626;
    border-radius: 5px;
    color: rgb(244, 235, 235);
    transition: 1s;
} 

/*  Блок3 - особенности*/
.block3 {
    font-size: 20px;
}
.text {
    font-size: 18px;
}
.hang-row {
    margin: 10px;
}

.cart-hang {
    display: flex;
    flex-direction: column;

    background-color: white;
    border: 1px solid #000;
   
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
          
}

.photo {
    width: 400px;
    margin-bottom: 20px;
             
}
/*Блок информации */


.footer {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-family: Gill Sans, sans-serif;
    height: 30px;
}

@media (min-width: 300px) and (max-width: 1100px) {
    
    .header {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .avatar {
    width: 70px;
    height: 70px;
  
}
    .nav a{
        display: block;
    }
    .nav {
        display: flex;
        flex-direction: column;
    }
    
    .block1 {
        flex-direction: column;
        font-size: 14px;
    }
    .text-block1 {
        font-size: 16px;
    }
    
    .block2 {
        flex-direction: column;
        align-items: center;
    }
    .cart {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cart-text {
    font-size: 18px;
    }
    .cart button {
        font-size: 12px;
    }

    .block3 {
        font-size: 16px;
    }
    .text {
        font-size: 14px;
    }
    .photo {
        width: 200px;
        height: 140px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }

}
    




